# Project Files
/node_modules
npm-debug.log

# Develop station setting
/.idea
/.vscode
/.vagrant

# Thumbnail cache files
[Tt]humbs.db
ehthumbs.db
ehthumbs_vista.db
._*

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini
.Trash-*
.DS_Store
.AppleDouble
.AppleDesktop
.LSOverride
.directory

# Disk system file
$RECYCLE.BIN/
.nfs*

# shortcuts
*.lnk
